<%= simple_form_for @poop_session do |f| %>
  <%= f.input :user_id, as: :hidden %>
  <%= f.input :poo, wrapper: :inline_checkbox %>
  <%= f.input :pee, wrapper: :inline_checkbox %>
  <div class="text-center">
    <%= f.button :submit, :value => "Diaper change", :class => "btn-primary btn-lg" %>
  </div>
<% end %>

<%= render 'previous' %>